$card-border-color: rgba(#000, 0.3) !default;
$card-border: solid 2px $card-border-color !default;
$card-bg: rgba(#fff, 1) !default;

.card {
  border: $card-border;
  position: absolute;
  background: $card-bg;
}
