$card-border-color: rgba(#000, 0.2) !default;
$card-border: solid 2px $card-border-color !default;
$card-bg: rgba(#fff, 1) !default;

.card {
  border: $card-border;
  position: absolute;
  background: $card-bg;

  &.card__root {
    display: grid;
    grid-template-rows: auto 2rem;
    grid-gap: 2px;
    border: $card-border;
  }

  .card__controls {
    align-self: center;
  }

  .card__body {
    display: grid;
    grid-template-rows: 2rem auto;
    grid-gap: 2px;
  }

  .card__body,
  .card__controls {
    padding: $spacing-small;

    &:first-child {
      padding-bottom: 0;
    }

    &:last-child {
      padding-top: 0;
    }
  }
}
